.burger {
    &__line {
        display:block;
        width:100%;
        height: 3px;
        background-color: #fff;
        position:absolute;
        left:0;
        &_first {
            top:0;
        }
        &_second {
            top:50%;
            transform: translateY(-50%);
        }
        &_third {
            bottom: 0;
        }
    }
}